@{
    ViewData["Title"] = "Error";
}

<h1 style="color:red;">Something went wrong!</h1>

<p>
    We are sorry. An unexpected error occurred while processing your request.
</p>

<a asp-controller="Home" asp-action="newActionMethod">Go Back</a>